
/*===============================
		Start Global
=================================*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: "Poppins", sans-serif;
	color: #eee;


}
body{
	width: 100%;
	height: 100%;
	background: #434343;
	background-size: cover;
	overflow-x: hidden;
}

section{
	padding: 6rem 0;
}
h1{
	font-size:4rem;
	font-family: "Poppins";
	letter-spacing: .5rem;
	padding: 3rem;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #eee;

}
p{
	font-size: 1.8rem;
	font-weight: 300;

}
img{
	width: 100%;
}
/*===============================
		end Global
=================================*/


/*===============================
		start  reusable
=================================*/
.container{
	width: 90%;
	max-width: 120rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.section-heading{
	text-align: center;
	margin-bottom: 10rem;
}
.section-heading h2{
	font-size: 3.5rem;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	margin-bottom: 1rem;
}
.section-heading h2::before,
.section-heading h2::after
{
	content:"";
	position: absolute;
	bottom: -.80rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: #D82C2E;

}
.section-heading h2::before{
	width: 10rem;
	height: 3px;
	border-radius: .8rem;
}

.section-heading h6{
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 2.5rem;

}
.has-margin-right{
	margin-right: 5rem;
}

/*===============================
		end  reusable
=================================*/


/*===============================
		start header(navigation)
=================================*/
.header-container{
	margin: 0 auto;
	margin-top: 3em;
	max-width: 120rem;
	width: 90%;

}
header{
	width: 100%;
	height: 10vh ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	

}
.logo{
	margin-top: 1.5rem;
	margin-left: 3rem;
	width: 5rem;
	height: 7rem;

}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.navigation ul{
	margin: 0  ;
	padding: 0;
	display: flex;

}
.navigation ul li{
	position: relative;
	margin: 0 30px;
}
.navigation ul li a{
	position: relative;
	height: 20px;
	display: block;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5rem;

}
.navigation ul li a span{
	width: 100%;
	height: 100%;
	display: block;
	transition: 0.5s;
	color: #fff;
}
.navigation ul li a span:nth-child(1){
	color: #fff;
}
.navigation ul li a span:nth-child(2){
	color: #D82C2E;
}
.navigation ul li:hover a span:nth-child(1){
	transform: translateY(-100%);
}
.navigation ul li:hover a span:nth-child(2){
	transform: translateY(-100%);
}
/*===============================
		end header(navigation)
=================================*/

/*===============================
		start home text
=================================*/
.landing-text{
	
	
	width:100% ;
	height: 60vh;
	text-align: center;
	margin: 5rem auto;
	margin-top: 10rem;
	z-index: 1;
	padding:2rem;
}

.landing-text .name{
font-size: 2rem;
color: #D82C2E;
letter-spacing: .3rem;
}
.sub-title{
	font-size: 2rem;
	letter-spacing: .3rem;
	color:rgba(255, 255, 255, 0.6);
}
.btn-box{
	margin-top: 8rem;
}
button{
	width: 150px;
	border: none;
	color: #eee;
	padding: 10px;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #D82C2E;
	cursor: pointer;
	font-size: 1.8rem;

}
.btn{
	border: 1px solid #19C0E4;
	background-color: transparent;
}
	button:hover{
	transition: 0.5s;
	background-color: #c61b1b92;
	 color: #fff;
}
.btn:hover{
	border-color: #eee;
	background: transparent;
}
.btn a:hover{
	color:#D82C2E ;
	border-color: #eee;
}

/*===============================
		end home text
=================================*/


/*===============================
	start about section
=================================*/
.about .container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-heading{
	text-align: center;
	text-transform: uppercase;
	line-height: 0;
	margin-bottom: 6rem;
}
.about-heading h2{
	font-size: 6rem;
	opacity: .3;
}

.about-heading p{
	font-size: 1.8rem;
	font-weight: 300;
	line-height: .5rem;
}
.profile-img{
	flex: 1;
	margin-right: 5rem;

}
.profile-img img{
	width: 85%;
}

.about-details{
	flex: 1;
}
.social-media{
	margin-top: 5rem;


}
.social-media .nav-list{
	display: flex;

}
.social-media i{
	color: #D82C2E;
	font-size: 4rem;
	transition: color 650ms;
	position: relative;
    display: inline-block;
	padding: 25px 30px;

}
.social-media i:hover{
	color:#fd6767;
}
/*===============================
	end about section
=================================*/



/*===============================
	start services section
=================================*/
.my-skills{
	margin-top: 10rem;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(25rem, 1fr));
	grid-gap:2.5rem;
	text-align: center;
}
.skill{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
.skill h2{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;

}
.icon-container{
	width: 10rem;
	height: 10rem;
	border: 3px solid #eee;
	background-color: #D82C2E;
	margin-bottom: 2rem;
	display: flex;
	transform: rotate(45deg);

}
.icon-container i{
	color: #050801;
	font-size: 5rem;
	margin: auto;
	transform: rotate(-45deg);
}

/*===============================
	end services section
=================================*/

/*===============================
	start portfolio section
=================================*/
.portfolio-item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
}
.portfolio-item:last-child{
	margin-bottom: 0;

}
.portfolio-img{
	width: 50rem;
	flex: 1;
}
.portfolio-description{
	flex: 1;
}
.portfolio-description h2{
	font-size: 2rem;
	font-weight: 300;
	margin: 1rem 0;

}
.portfolio-description h6{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 300;
	opacity: 0.5;
}

.portfolio-description a{
    position: relative;
    display: inline-block;
	padding: 25px 30px;
	margin-top: 3.5rem;
	/*margin: 40px 0;*/
	font-size: 1.5rem;
	font-weight: 700;
    color: #D82C2E;
    text-decoration: none;
    text-transform: uppercase;
	transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;


}

.portfolio-description a:hover{
/*	background: #635959;
	color: #050801;
	box-shadow: 0 0 5px #D82C2E,
                0 0 25px #D82C2E,
                0 0 50px #D82C2E,
                0 0 200px #D82C2E;*/
	 -webkit-box-reflect:below .5px linear-gradient(transparent, #0005);
	 box-shadow: 0 0 5px #D82C2E;
}
/*a:nth-child(1){
    filter: hue-rotate(270deg);*/
/*}
a:nth-child(2){
    filter: hue-rotate(110deg);
}*/
.portfolio-description a span{
    position: absolute;
    display: block;
}
.portfolio-description a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#D82C2E);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.portfolio-description a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#D82C2E);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.portfolio-description a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#D82C2E);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.portfolio-description a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#D82C2E);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/*===============================
	end portfolio section
=================================*/




/*===============================
	star timeline section
=================================*/
.timeline ul{
	border-left:4px solid #D82C2E ;
	border-radius: .8rem;
	background-color: rgba(0,0,0,0.30);
	margin: 0 auto;
	position: relative;
	padding: 5rem;
	list-style: none;
	text-align: left;
	width: 70%;

}
.timeline h2{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 1rem;
	opacity: .3;
}
.timeline .date{
	border-bottom: 1px solid rgb(255, 255, 255, 0.1);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}
.timeline .date:last-of-type{
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}
.timeline .date::before,
.timeline .date::after{
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);

}
.timeline .date::before{
	content: attr(data-date);
	left: -21rem;
	text-align: right;
	min-width: 12rem;
	font-size: 1.5rem;
}
.timeline .date::after{
	content: "";
	box-shadow: 0 0 0 4px #19C0E4;
	border-radius: 100%;
	left: -6rem;
	height: 1.5rem;
	width: 1.5rem;
	background-color:#45455a;

}

/*===============================
	end timeline section
=================================*/





/*===============================
	start contact-section
=================================*/

.contact-section{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgba(0,0,0,0.30);
}
.contact-section::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background:rgba(216, 44, 46, 0.7);

}
.contact-container{
	position: relative;
	min-width: 900px;
	min-height: 550px;
	display: flex;
	z-index: 1000;


}
.contact-container .contactinfo{
	position: absolute;
	top: 40px;
	width: 350px;
	height: calc(100% - 80px);
	background:rgba(0,0,0,0.90);
	z-index: 1;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2 );

}

.contactinfo .info{
	position: relative;
	margin: 20px 0;
}
.contactinfo .info li{
	position: relative;
	display: flex;
	margin: 50px 0;

	align-items: flex-start;
	font-size: 1.5rem;
}
.info li span:nth-child(1){
	width: 30px;
	min-width: 30px;
}
.info li span:nth-child(1) img{
	max-width: 100%;
	filter: invert(1);
	/* opacity: 0.5; */
}
.info li span:nth-child(2){
	color: #fff;
	margin-left: 10px;
	font-weight: 300;
	/* opacity: 0.5; */
}
.info li:hover span:nth-child(1) img,
.info li:hover span:nth-child(2){
	opacity: 1;
}
.contact-form{
	position: absolute;
	padding:  70px 50px;
	background: #eee;
	margin-left: 150px;
	padding-left: 250px;
	width: calc(100% - 150px);
	height: 100%;
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);

}
.contact-form h5{
	color: #19C0E4;
	font-size: 24px;
	font-weight: 500;
}
.contact-form .form-box{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.form-box, .input-box{
	position: relative;
	margin: 0 0 35px 0;
}
.w50{
	width: 47%;
}
 .w100{
	width: 100%;
}
input,
textarea{
	width: 100% !important;
	padding: 5px 0;
	font-size:18px ;
	font-weight: 300;
	border: none;
	color: #333;
	border-bottom: 1px solid #777;
	outline: none;
	background-color: transparent;
	resize: none;

}
textarea{
	min-height: 120px;
}
.input-box span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	transition: 0.3s;
	pointer-events: none;

}
.input-box input:focus ~ span,
.input-box textarea:focus ~ span{
	transform: translateY(-30px);
	font-size: 12px;
	font-weight: 400;
	letter-spacing:1px ;
	color: #D82C2E;
}
 input[type="submit"]{
	width: 250px;
	border: none;
	color: #eee;
	padding: 20px;
	margin-right: 70px;
	border-radius: 30px;
	background-color: #D82C2E;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
}
.input-box input[type="submit"]:hover{
	background:#006980c4;
	color: #222;
}

/*===============================
	 end contact-section
=================================*/


/*===============================
	 start footer-section
=================================*/
footer{
	width: 100%;
	background-color:transparent;
	padding: 2rem 0;
	position: relative;
}
.up{
	position: absolute;
	width: 5rem;
	height: 5rem;
	background-color:#050801;
	top: -2.5rem;
	right: 5rem;
	border-radius: 100%;
	display: flex;
	animation: pulse 2s infinite;
	cursor: pointer;
}
.up i{
	color:#D82C2E;
	font-size: 3rem;
	margin: 10px 15px;

}
/*Start (up) Animation*/
@keyframes pulse{
	0%{
		box-shadow: 0 0 0 0 rgba(197, 47, 47, 0.99);
	}
	70%{
		box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
	}
	100%{
		box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
	}
}
/*End Animation*/

/*===============================
	end footer-section
=================================*/

/*===============================
	start Media queries
=================================*/

@media screen and (maw-width: 768px)
{
	body{
		box-sizing: border-box;
	}
	
	.landing-text h1 {
		font-size: 3rem;
	}
	.landing-text .name{
		font-size: 2rem;
	}
	.landing-text .sub-title{
		font-size: 2rem;
	}
	
	.nav-list{
		flex-direction: column;
	}
	li{
		margin: 2rem 0;
	}
	.nav-link{
		font-size: 3rem;
	}
	.about-heading{
		font-size: 2rem;
	}
	.section-heading h2{
		font-size: 1.5rem;
	}
	.about-details .nav-list{
		flex-direction: initial;
	}
	.about-details li{
		margin: 0 1rem;
	}
	.icon-container{
		width: 5rem;
		height: 5rem;

	}
	.icon-container i {
		font-size: 4rem;
	}
	.timeline ul{
		margin: 0 0 0 auto;
	}
	.timeline .date::before{
		left: -20rem;
	}
	.timeline .date::after{
		left: -5.9rem;
	}
}


@media screen and (max-width: 600px){
	body{
		box-sizing: border-box;
	}
	.menu-toggelr{
		top: 2rem;
		right: 2rem;
	}
	.landing-text h1{
		font-size: 2rem;
	}
	.landing-text .name{
		font-size: 1.5rem;

	}
	.landing-text .sub-title{
		font-size: 1.5rem;
	}
	.nav-link{
		font-size: 2rem;
	}
	.about .container{
		flex-direction: column;
		
	}
	.profile-img{
		margin: 0 0 5rem 3rem;
	}
	.portfolio-item{
		flex-direction: column;
	}
	.portfolio-img{
		margin: 0 0 2rem 0;
		order: 1;
	}
	.portfolio-description{
		margin: 0;
		order: 2;
	}
	
	.timeline p{
		font-size: 1.5rem;
	}
	.timeline .date::before{
		font-size: 1.5rem;
	}
	form{
		width: 100%;
	}
	.up{
		right: 2rem;
	}
	.contact-container{
		flex-direction: column;
		width: 100%;
	
	
	}
	.contact-container .contactinfo{
	order: 1;
	
	}
	.contact-form{
		order:2;
	}
	

}










